<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Baseball: All Fail the Houston Asterisks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: rgb(12, 12, 124);">
    <div class="container text-center">
        <h1 class="jumbotron" style="background-color: rgb(151, 15, 15);">
            Player Data
        </h1>
    </div>
</body>
</html>